/* Section Background */
body {
    background-color: #f0f0f0;
}

/* Section Letak Judul*/
.judul-kanan {
    display: flex;
    max-width: auto;
    flex-direction: column;
    justify-content: right;
    gap: 40px;
    margin: 40px 0;
    text-align: right;
    padding: 0 20px;
}

.judul-kiri {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 40px;
    margin: 40px 0;
    text-align: left;
    padding: 0 20px;
}

/* Section Letak Teks*/
.teks-kanan {
    max-width: auto;
    font: 18px times;
    line-height: 1.4;
    text-align: right;
    margin-left: 80px;
}

.teks-kiri {
    max-width: auto;
    font: 18px times;
    line-height: 1.4;
    text-align: left;
    margin-right: 80px;
}

/* Section Profile*/
.img-profile {
    width: 200px;
    height: auto;
    border-radius: 10px;
    float: left;
    margin-right: 50px;
    margin-left: 20px;
    border-style: solid;
    border-color:#a76666;
}

.list-profile {
    font-size: large;
    list-style-type: none;
    padding: 0;
}

/* Section Garis pertengahan*/
hr {
    border: 1px solid black;
    margin: 35px 0;
}

/* Section Gambar*/
.image-kanan {
    width: 220px;
    height: auto;
    border-radius: 10px;
    float: left;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.image-kiri {
    width: 250px;
    height: auto;
    border-radius: 10px;
    float: right;
    margin-bottom: 20px;
}